accordion-padding = 30
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
start-at-login = true

[key-mapping]
	preset = 'qwerty'

[gaps]
	inner.horizontal = 8
	inner.vertical   = 8
	outer.left       = 8
	outer.bottom     = 8
	outer.top        = 8
	outer.right      = 8

[mode.main.binding]
	alt-slash = 'layout tiles horizontal vertical'
	alt-comma = 'layout accordion horizontal vertical'

	alt-f = 'fullscreen'

	alt-h = 'focus left'
	alt-j = 'focus down'
	alt-k = 'focus up'
	alt-l = 'focus right'

	alt-shift-h = 'move left'
	alt-shift-j = 'move down'
	alt-shift-k = 'move up'
	alt-shift-l = 'move right'

	alt-shift-left  = 'join-with left'
	alt-shift-down  = 'join-with down'
	alt-shift-up    = 'join-with up'
	alt-shift-right = 'join-with right'

	alt-1 = 'workspace 1'
	alt-2 = 'workspace 2'
	alt-3 = 'workspace 3'
	alt-4 = 'workspace 4'
	alt-5 = 'workspace 5'
	alt-6 = 'workspace 6'

	alt-shift-1 = 'move-node-to-workspace 1'
	alt-shift-2 = 'move-node-to-workspace 2'
	alt-shift-3 = 'move-node-to-workspace 3'
	alt-shift-4 = 'move-node-to-workspace 4'
	alt-shift-5 = 'move-node-to-workspace 5'
	alt-shift-6 = 'move-node-to-workspace 6'

	alt-r = 'flatten-workspace-tree' # reset layout
	alt-g = 'layout floating tiling'

	alt-shift-comma = 'reload-config'

	alt-enter = 'exec-and-forget open -a /Applications/Ghostty.app'
	alt-b = 'exec-and-forget open -a /Applications/Safari.app'

	cmd-alt-ctrl-shift-j = 'exec-and-forget m1ddc chg luminance -10'
	cmd-alt-ctrl-shift-k = 'exec-and-forget m1ddc chg luminance 10'

[[on-window-detected]]
	if.app-name-regex-substring = 'Safari'
	run = 'move-node-to-workspace 1'

[[on-window-detected]]
	if.app-name-regex-substring = 'Ghostty'
	run = 'move-node-to-workspace 1'

[[on-window-detected]]
	if.app-name-regex-substring = 'Firefox'
	run = 'move-node-to-workspace 2'

[[on-window-detected]]
	if.app-name-regex-substring = 'Musica'
	run = 'move-node-to-workspace 3'

[[on-window-detected]]
	if.app-name-regex-substring = 'Promemoria'
	run = 'move-node-to-workspace 4'

[[on-window-detected]]
	if.app-name-regex-substring = 'Toggl'
	run = 'move-node-to-workspace 5'

[[on-window-detected]]
	if.app-name-regex-substring = 'Microsoft Teams'
	run = 'move-node-to-workspace 6'
